.card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 290px;
    height: 100px;
    background-color: $color-main;
    border: 1px solid $color-secondary;
    @include roundy(5px);
    margin: auto;
    transition: .1s ease-in-out;
    &:hover{
        transform: scale(1.4);
        
    }
}

.card .avatar{
    width: 70px;
    height: 70px;
    margin: 10px;
    @include roundy(45px)
}

.card p{
    margin: 7px 0;
}

