.card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 290px;
    height: 100px;
    border: 1px solid #808080;
    @include roundy(5px);
    margin: auto;
}

.card .avatar{
    width: 70px;
    height: 70px;
    margin: 10px;
    @include roundy(45px)
}

.card p{
    margin: 7px 0;
}